<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Record</title>
    <link rel="stylesheet" href="{% static 'datahub/style.css' %}">
</head>
<body>
    <a href="{% url 'datahub:index' %}"><button>Home</button></a>
    <div class="form-container">
        <h1>Add Record</h1>
        <form method="POST" action="{% url 'datahub:add' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div>
                {{ form.float1.label_tag }} {{ form.float1 }} {{ form.float1.errors }}
            </div>
            <div>
                {{ form.float2.label_tag }} {{ form.float2 }} {{ form.float2.errors }}
            </div>
            <div>
                {{ form.int_value1.label_tag }} {{ form.int_value1 }} {{ form.int_value1.errors }}
            </div>
            <button type="submit">Add Record</button>
        </form>
    </div>
</body>
</html>